body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
h1{
    font-size: 65px;
    font-weight: 700;
    line-height: 0.4;
}
h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}
.info{
    font-size: 18px;
    font-weight: 100;
    line-height: 1.7;
    color:rgb(117, 117, 117);
}
.My-recipies-text{
    text-align: center;
    padding-inline-start: 20%;
    padding-inline-end: 20%;
}
.or-color{
    color: orange;
}
.ash-color{
    color:rgb(117, 117, 117);
}
.flexible-container{
    display: flex;
    margin-left: 7%;
    margin-top: 5%;
    margin-right:5%;
    margin-bottom: 50px;
}
.half-width-text{
    width: 60%;
    color: rgb(65, 65, 65);
    padding-top: 12%;
    padding-right: 3%;
}
.s-half-width img{
    width:48.10%;
    height:85.90%;
    padding-left: 30%;
    padding-top: 8%;
    padding-right:5%;
}
.half-width img{
    width: 100%;
}
.order-link{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    color:white;
    font-weight: 700;
    border-radius: 100px;
}
.about-me{
    display: flex;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: 100% 95.5%;
    width: 100%;
    height: 80%;
}
.Recipies{
    display:flex;
    width: 90%;
    margin-top: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
.Recipies-box{
    width: 95%;
    height: 50%;
    margin-left:2.5%;
    margin-right:2.5%;
    padding-top: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 5px rgb(209, 209, 209) ;
}
.Recipies-box img{
    width: 90%;
    height:50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}
.Recipies-box h2{
    margin-left: 5%;
    margin-right: 5%;
}
.Recipies-box p{
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1.7;
}
.Recipi-gallery{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height : 40%;
}
.gallery{
    display: flex;
}
.gallery img{
    border-radius: 1800px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1%;
    width: 28.5%;
}
.info-box{
    display: flex;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 5%;
    margin-bottom:5%;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 5px rgb(209, 209, 209) ;
}
.information{
    padding-left: 11%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
}
.information h2{
    font-size: 50px;
    font-weight: 800;
    line-height: 0;
}
.information p{
    color:rgb(97, 96, 96);
}
footer{
    background-color: black;
    width:100%;
    height: 40%;
    text-align: center;
}
footer h3{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 30px;
}

footer p{
    color:rgb(180, 180, 180);
    padding-bottom: 7%;
}